.env
.env.*

compose.override.yaml
compose.dev.override.yaml

!example.env
database.ini

# exclude everything
omeka/*
data/*

# exception to the rule
!.gitkeep
!omeka/files/.gitkeep
!omeka/logs/.gitkeep
!omeka/themes/.gitkeep
!omeka/modules/.gitkeep
!omeka/config/.gitkeep
!data/solr/.gitkeep
!data/db/.gitkeep
!data/db-init/.gitkeep
