.env
.env.*

# Exclude example.env
!example.env
database.ini

# exclude everything
omeka/*
data/*

# exception to the rule
!.gitkeep
!omeka/files/.gitkeep
!omeka/logs/.gitkeep
!omeka/files/.gitkeep
!omeka/files/.gitkeep
!data/solr/.gitkeep
!data/db/.gitkeep
!data/db-init/.gitkeep
